/dts-v1/;
/plugin/;
&fpga_full {
	firmware-name = "kv260_rpicamera_to_dp.bit.bin";
	misc_clk_0: misc_clk_0 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <3000>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	misc_clk_2: misc_clk_2 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <1140>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	misc_clk_1: misc_clk_1 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <2000>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	clocking1: clocking1 {
		compatible = "xlnx,fclk";
		assigned-clocks = <&zynqmp_clk 72>;
		assigned-clock-rates = <99999001>;
		#clock-cells = <0>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 72>;
	};
	clocking0: clocking0 {
		compatible = "xlnx,fclk";
		assigned-clocks = <&zynqmp_clk 71>;
		assigned-clock-rates = <99999001>;
		#clock-cells = <0>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 71>;
	};
	afi0: afi0 {
		compatible = "xlnx,afi-fpga";
		resets = <&zynqmp_reset 116>, <&zynqmp_reset 117>, <&zynqmp_reset 118>, <&zynqmp_reset 119>;
		config-afi = < 0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 0>, <11 0>, <12 0>, <13 0>, <14 0xa00>, <15 0x000>;
	};

	/* Manually extended: Sensor Clock for OV5647 */
	ov5647_clk: camera-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};
};

&amba {
	axi_gpio_rst: gpio@a0060000 {
		xlnx,gpio-board-interface = "Custom";
		compatible = "xlnx,axi-gpio-2.0" , "xlnx,xps-gpio-1.00.a";
		xlnx,all-outputs = <1>;
		#gpio-cells = <2>;
		xlnx,gpio-width = <6>;
		xlnx,dout-default = <0x3f>;
		xlnx,is-dual = <0>;
		xlnx,ip-name = "axi_gpio";
		xlnx,tri-default-2 = <0xffffffff>;
		reg = <0x0 0xa0060000 0x0 0x10000>;
		xlnx,all-inputs-2 = <0>;
		clocks = <&misc_clk_0>;
		xlnx,all-outputs-2 = <0>;
		gpio-controller;
		xlnx,interrupt-present = <0>;
		xlnx,gpio2-board-interface = "Custom";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,dout-default-2 = <0x0>;
		xlnx,gpio2-width = <32>;
		clock-names = "s_axi_aclk";
		xlnx,tri-default = <0xffffffff>;
		xlnx,name = "axi_gpio_rst";
		xlnx,all-inputs = <0>;
	};
	axi_iic_0: i2c@a0050000 {
		interrupts = < 0 105 4 >;
		xlnx,iic-freq-khz = <400>;
		compatible = "xlnx,axi-iic-2.1" , "xlnx,xps-iic-2.00.a";
		xlnx,scl-inertial-delay = <0>;
		interrupt-parent = <&gic>;
		xlnx,ip-name = "axi_iic";
		xlnx,disable-setup-violation-check = <0>;
		reg = <0x0 0xa0050000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,gpo-width = <1>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,static-timing-reg-width = <0>;
		xlnx,sda-level = <1>;
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		xlnx,ten-bit-adr = <0>;
		xlnx,default-value = <0x0>;
		interrupt-names = "iic2intc_irpt";
		xlnx,iic-board-interface = "som240_1_connector_hda_iic_switch";
		xlnx,timing-reg-width = <32>;
		xlnx,iic-freq = <400000>;
		xlnx,smbus-pmbus-host = <0>;
		xlnx,name = "axi_iic_0";
		xlnx,axi-aclk-freq-mhz = <0x11e19748>;
		xlnx,sda-inertial-delay = <0>;
		
		/* Manually extended: I2C Topology Extension */
		#address-cells = <1>;
		#size-cells = <0>;
		iic_mux_0: i2c_mux@74 {
			compatible = "nxp,pca9546";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74>;
			i2c@0 { reg = <0>; };
			i2c@1 { reg = <1>; };
			rpi_i2c: i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				ov5647_0: camera@36 {
					compatible = "ovti,ov5647";
					reg = <0x36>;
					clocks = <&ov5647_clk>;
					pwdn-gpios = <&axi_gpio_rst 2 1>; 
					clock-names = "xclk"; 
					port {
						ov5647_to_mipi: endpoint {
							remote-endpoint = <&mipi_csi_inmipi_csi2_rx_0>;
							clock-lanes = <0>;
							data-lanes = <1 2>;
						};
					};
				};
			};
			i2c@3 { reg = <3>; };
		};
	};
	mipi_csi2_rx_0: mipi_csi2_rx_subsystem@a0000000 {
		xlnx,data-lane2-byte = "All_Byte";
		xlnx,dpy-en-reg-if = <0>;
		xlnx,cmn-vc = <4>;
		xlnx,dphy-lanes = <2>;
		xlnx,ip-name = "mipi_csi2_rx_subsystem";
		reg = <0x0 0xa0000000 0x0 0x1000>;
		xlnx,vfb-tu-width = <1>;
		xlnx,ppc = <1>;
		xlnx,csi-buf-depth = <4096>;
		xlnx,exdes-fmc = "LI-IMX274MIPI-FMC , V1.0 , Single , Sensor";
		xlnx,supportlevel = <1>;
		xlnx,clk-lane-io-loc-name = "IO_L13P_T2L_N0_GC_QBC_66";
		xlnx,max-lanes = <2>;
		xlnx,cmn-inc-iic = <0>;
		xlnx,clk-lane-io-loc = "D7";
		xlnx,esc-timeout = <25600>;
		interrupt-names = "csirxss_csi_irq";
		xlnx,cmn-inc-vfb;
		xlnx,axis-tuser-width = <96>;
		compatible = "xlnx,mipi-csi2-rx-subsystem-6.0" , "xlnx,mipi-csi2-rx-subsystem-5.0";
		xlnx,en-active-lanes;
		xlnx,idly-tap = <1>;
		xlnx,cmn-num-pixels = <1>;
		xlnx,cmn-proj-family = <1>;
		xlnx,csi2rx-dbg = <0>;
		xlnx,fifo-rd-en-control;
		xlnx,vfb;
		interrupt-parent = <&gic>;
		xlnx,data-lane1-io-loc-name = "IO_L15P_T2L_N4_AD11P_66";
		xlnx,hs-timeout = <65541>;
		xlnx,data-lane3-io-loc-name = "None";
		xlnx,ext-mmcm = <0>;
		xlnx,data-lane1-byte = "All_Byte";
		xlnx,master-riu;
		xlnx,cal-mode = "NONE";
		xlnx,mipi-rx-phy-mode = <1>;
		xlnx,data-lane0-io-position = <28>;
		xlnx,exdes-board = "ZCU102";
		xlnx,data-lane2-io-position = <6>;
		xlnx,vc = <4>;
		xlnx,en-vcx = <0>;
		xlnx,name = "mipi_csi2_rx_0";
		xlnx,csi-emb-non-img = <0>;
		interrupts = < 0 106 4 >;
		xlnx,dphyrx-board-interface = "som240_1_connector_mipi_csi_raspi";
		xlnx,data-lane3-io-loc = "None";
		xlnx,clock-mask = <39>;
		xlnx,hs-settle-ns = <145>;
		clocks = <&misc_clk_1>, <&misc_clk_0>, <&misc_clk_0>;
		xlnx,data-lane2-io-loc = "None";
		xlnx,mipi-slv-int = <0>;
		xlnx,cmn-fifo-rd-en-cntrl;
		xlnx,data-lane3-byte = "All_Byte";
		xlnx,axis-tdest-width = <4>;
		xlnx,phy-mode = "DPHY";
		xlnx,stretch-line-rate = <1500>;
		xlnx,en-csi-v2 = <0>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,init = <100000>;
		xlnx,cmn-pxl-format = <0x2b>;
		xlnx,int-qor-check = <0>;
		clock-names = "dphy_clk_200M" , "lite_aclk" , "video_aclk";
		xlnx,data-lane1-io-loc = "G6";
		xlnx,data-lane0-byte = "All_Byte";
		xlnx,ooc-vid-clk = <0x65b710>;
		csirx-present = <1>;
		xlnx,yuv420-buf-dpth = <128>;
		xlnx,hp-io-bank-selection = <66>;
		xlnx,idly-group-name = "mipi_csi2rx_idly_group";
		xlnx,lprx-disable-extport = <0>;
		csirx-connected = <&mipi_csi2_rx_0_rx>;
		xlnx,highaddr = <0xa0000fff>;
		xlnx,cmn-num-lanes = <2>;
		xlnx,exdes-config = "MIPI_Video_Pipe_Camera_to_Display";
		xlnx,exdesboard-version = <2>;
		xlnx,dphy-preset = "CSI2RX_XLNX";
		xlnx,data-lane0-io-loc-name = "IO_L14P_T2L_N2_GC_66";
		xlnx,csi-pxl-format = <0x2b>;
		xlnx,clk-lane-io-position = <26>;
		xlnx,data-lane2-io-loc-name = "None";
		xlnx,data-lane0-io-loc = "E5";
		xlnx,inc-phy;
		xlnx,hs-line-rate = <912>;
		xlnx,dpy-line-rate = <912>;
		xlnx,csi-en-crc = <0>;
		xlnx,axis-tdata-width = <32>;
		xlnx,csi-controller-reg-if;
		xlnx,data-lane1-io-position = <30>;
		xlnx,dphy-mode = "SLAVE";
		xlnx,data-lane3-io-position = <8>;
		mipi_csi_portsmipi_csi2_rx_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi_port1mipi_csi2_rx_0: port@1 {
				xlnx,video-width = <8>;
				reg = <1>;
				xlnx,video-format = <12>;
				xlnx,cfa-pattern = "rggb";
				mipi_csirx_outmipi_csi2_rx_0: endpoint {
					remote-endpoint = <&v_demosaic_0mipi_csi2_rx_0>;
				};
			};
			mipi_csi_port0mipi_csi2_rx_0: port@0 {
				xlnx,video-width = <8>;
				reg = <0>;
				xlnx,video-format = <12>;
				xlnx,cfa-pattern = "rggb";
				mipi_csi_inmipi_csi2_rx_0: endpoint {
					/* Manually extended */
					remote-endpoint = <&ov5647_to_mipi>;
					data-lanes = < 1 2 >;
				};
			};
		};
	};
	v_demosaic_0: v_demosaic@a0010000 {
		interrupts = < 0 107 4 >;
		compatible = "xlnx,v-demosaic-1.1" , "xlnx,v-demosaic";
		xlnx,max-width = <4096>;
		reset-gpios = <&axi_gpio_rst 0 1>;
		xlnx,max-height = <2560>;
		interrupt-parent = <&gic>;
		xlnx,max-rows = <2560>;
		xlnx,use-uram = <0>;
		xlnx,ip-name = "v_demosaic";
		reg = <0x0 0xa0010000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <6>;
		xlnx,enable-zipper-removal;
		xlnx,samples-per-clock = <1>;
		xlnx,max-data-width = <8>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,max-cols = <4096>;
		clock-names = "ap_clk";
		xlnx,algorithm = <0>;
		interrupt-names = "interrupt";
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_demosaic_0";
		demosaic_portsv_demosaic_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			demosaic_port1v_demosaic_0: port@1 {
				reg = <1>;
				demo_outv_demosaic_0: endpoint {
					remote-endpoint = <&v_gamma_lut_0v_demosaic_0>;
				};
			};
			demosaic_port0v_demosaic_0: port@0 {
				reg = <0>;
				v_demosaic_0mipi_csi2_rx_0: endpoint {
					remote-endpoint = <&mipi_csirx_outmipi_csi2_rx_0>;
				};
			};
		};
	};
	v_frmbuf_wr_0: v_frmbuf_wr@a0040000 {
		xlnx,has-y-uv8 = <0>;
		reset-gpios = <&axi_gpio_rst 4 1>;
		xlnx,max-height = <2160>;
		xlnx,has-bgra8 = <0>;
		xlnx,has-rgba8 = <0>;
		xlnx,ip-name = "v_frmbuf_wr";
		reg = <0x0 0xa0040000 0x0 0x10000>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,pixels-per-clock = <1>;
		xlnx,samples-per-clock = <1>;
		xlnx,max-nr-planes = <3>;
		xlnx,has-bgr8 = <1>;
		xlnx,has-rgb8 = <1>;
		xlnx,has-y-uv8-420 = <1>;
		xlnx,has-yuyv8 = <0>;
		xlnx,has-y-u-v8 = <0>;
		interrupt-names = "interrupt";
		compatible = "xlnx,v-frmbuf-wr-3.0" , "xlnx,axi-frmbuf-wr-v2.2";
		xlnx,max-width = <4096>;
		xlnx,has-rgb16 = <0>;
		xlnx,vid-formats = "rgb888" , "bgr888" , "xbgr8888" , "xrgb8888" , "nv12";
		xlnx,has-bgrx8 = <1>;
		xlnx,has-rgbx8 = <1>;
		xlnx,has-rgbx10 = <0>;
		interrupt-parent = <&gic>;
		xlnx,aximm-num-outstanding = <4>;
		xlnx,has-uyvy8 = <0>;
		xlnx,use-uram = <0>;
		xlnx,has-rgbx12 = <0>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,video-width = <8>;
		xlnx,max-cols = <4096>;
		xlnx,has-yuv8 = <0>;
		xlnx,has-y-uv10-420 = <0>;
		xlnx,has-yuva8 = <0>;
		xlnx,has-y-uv12-420 = <0>;
		xlnx,name = "v_frmbuf_wr_0";
		interrupts = < 0 104 4 >;
		xlnx,has-y10 = <0>;
		xlnx,has-y-uv16-420 = <0>;
		xlnx,has-y12 = <0>;
		xlnx,has-alpha = <0>;
		xlnx,has-y-u-v10 = <0>;
		clocks = <&misc_clk_0>;
		xlnx,has-y16 = <0>;
		xlnx,dma-align = <8>;
		xlnx,has-y-u-v12 = <0>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,has-interlaced = <0>;
		xlnx,has-yuv16 = <0>;
		xlnx,has-yuvx8 = <0>;
		xlnx,is-tile-format = <0>;
		xlnx,dma-addr-width = <32>;
		clock-names = "ap_clk";
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,has-y8 = <0>;
		xlnx,has-y-uv10 = <0>;
		xlnx,has-y-uv12 = <0>;
		xlnx,max-rows = <2160>;
		xlnx,has-yuvx10 = <0>;
		#dma-cells = <1>;
		xlnx,has-yuvx12 = <0>;
		xlnx,has-y-uv16 = <0>;
		xlnx,max-data-width = <8>;
		xlnx,has-y-u-v8-420 = <0>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <64>;
	};
	v_gamma_lut_0: v_gamma_lut@a0020000 {
		interrupts = < 0 108 4 >;
		compatible = "xlnx,v-gamma-lut-1.1" , "xlnx,v-gamma-lut";
		xlnx,max-width = <4096>;
		reset-gpios = <&axi_gpio_rst 1 1>;
		xlnx,max-height = <2560>;
		interrupt-parent = <&gic>;
		xlnx,max-rows = <2560>;
		xlnx,ip-name = "v_gamma_lut";
		reg = <0x0 0xa0020000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <13>;
		xlnx,max-data-width = <8>;
		xlnx,samples-per-clock = <1>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,max-cols = <4096>;
		clock-names = "ap_clk";
		interrupt-names = "interrupt";
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_gamma_lut_0";
		gamma_portsv_gamma_lut_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			gamma_port1v_gamma_lut_0: port@1 {
				xlnx,video-width = <8>;
				reg = <1>;
				gamma_outv_gamma_lut_0: endpoint {
					remote-endpoint = <&v_proc_ss_cscv_gamma_lut_0>;
				};
			};
			gamma_port0v_gamma_lut_0: port@0 {
				xlnx,video-width = <8>;
				reg = <0>;
				v_gamma_lut_0v_demosaic_0: endpoint {
					remote-endpoint = <&demo_outv_demosaic_0>;
				};
			};
		};
	};
	v_proc_ss_csc: v_proc_ss@a0030000 {
		xlnx,v-chroma-taps = <4>;
		xlnx,h-chroma-algorithm = <2>;
		csc-connected = <&v_proc_ss_csc_csc>;
		hcrsmplr-present = <0>;
		reset-gpios = <&axi_gpio_rst 5 1>;
		xlnx,max-height = <2160>;
		rstaxis-present = <0>;
		vscale-present = <0>;
		xlnx,ip-name = "v_proc_ss";
		xlnx,enable-interlaced;
		reg = <0x0 0xa0030000 0x0 0x10000>;
		hscale-present = <0>;
		xlnx,deint-motion-adaptive;
		xlnx,h-scaler-taps = <6>;
		deint-present = <0>;
		xlnx,topology = <3>;
		xlnx,chroma-algorithm = <2>;
		compatible = "xlnx,v-proc-ss-2.3" , "xlnx,v-vpss-csc";
		xlnx,csc-enable-window =  "true";
		xlnx,max-width = <4096>;
		xlnx,aximm-num-outstanding = <16>;
		xlnx,vdma-aximm-addr-width = <32>;
		xlnx,use-uram = <0>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,v-scaler-taps = <6>;
		xlnx,scaler-enable-422;
		xlnx,video-width = <8>;
		xlnx,max-cols = <4096>;
		xlnx,colorspace-support = <0>;
		xlnx,read-fifo-depth = <128>;
		vdma-present = <0>;
		xlnx,name = "v_proc_ss_csc";
		xlnx,csc-enable-422;
		xlnx,scaler-algorithm = <2>;
		xlnx,v-scaler-phases = <64>;
		clocks = <&misc_clk_0>;
		xlnx,edk-iptype = "PERIPHERAL";
		rstaximm-present = <0>;
		lbox-present = <0>;
		clock-names = "aclk";
		router-present = <0>;
		xlnx,highaddr = <0xa003ffff>;
		xlnx,h-chroma-taps = <4>;
		xlnx,max-rows = <2160>;
		xlnx,h-scaler-phases = <64>;
		xlnx,max-data-width = <8>;
		xlnx,enable-dma;
		xlnx,write-fifo-depth = <128>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <64>;
		xlnx,samples-per-clk = <1>;
		xlnx,v-chroma-algorithm = <2>;
		csc-present = <1>;
		csc_portsv_proc_ss_csc: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			csc_port1v_proc_ss_csc: port@1 {
				xlnx,video-width = <8>;
				reg = <1>;
				xlnx,video-format = <3>;
				csc_outv_proc_ss_csc: endpoint {
					remote-endpoint = <&v_proc_ss_scalerv_proc_ss_csc>;
				};
			};
			csc_port0v_proc_ss_csc: port@0 {
				xlnx,video-width = <8>;
				reg = <0>;
				xlnx,video-format = <3>;
				v_proc_ss_cscv_gamma_lut_0: endpoint {
					remote-endpoint = <&gamma_outv_gamma_lut_0>;
				};
			};
		};
	};
	v_proc_ss_scaler: v_proc_ss@a0080000 {
		xlnx,v-chroma-taps = <4>;
		xlnx,h-chroma-algorithm = <2>;
		hcrsmplr-present = <0>;
		reset-gpios = <&axi_gpio_rst 3 1>;
		xlnx,max-height = <2160>;
		rstaxis-present = <1>;
		vscale-present = <1>;
		xlnx,ip-name = "v_proc_ss";
		xlnx,enable-interlaced;
		reg = <0x0 0xa0080000 0x0 0x40000>;
		hscale-present = <1>;
		xlnx,deint-motion-adaptive;
		xlnx,num-hori-taps = <6>;
		xlnx,h-scaler-taps = <6>;
		deint-present = <0>;
		xlnx,topology = <0>;
		xlnx,chroma-algorithm = <2>;
		compatible = "xlnx,v-proc-ss-2.3" , "xlnx,v-vpss-scaler-2.2";
		xlnx,csc-enable-window =  "true";
		xlnx,max-width = <4096>;
		xlnx,aximm-num-outstanding = <16>;
		xlnx,vdma-aximm-addr-width = <32>;
		xlnx,use-uram = <0>;
		rstaxis-connected = <&v_proc_ss_scaler_reset_sel_axis>;
		vscale-connected = <&v_proc_ss_scaler_vsc>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,v-scaler-taps = <6>;
		xlnx,scaler-enable-422;
		xlnx,video-width = <8>;
		xlnx,max-cols = <4096>;
		xlnx,colorspace-support = <0>;
		xlnx,read-fifo-depth = <128>;
		vdma-present = <0>;
		xlnx,name = "v_proc_ss_scaler";
		xlnx,csc-enable-422 =  "true";
		xlnx,num-vert-taps = <6>;
		xlnx,pix-per-clk = <1>;
		xlnx,enable-csc = "false";
		xlnx,scaler-algorithm = <2>;
		xlnx,v-scaler-phases = <64>;
		clocks = <&misc_clk_0>, <&misc_clk_0>;
		xlnx,max-num-phases = <64>;
		xlnx,edk-iptype = "PERIPHERAL";
		lbox-present = <0>;
		clock-names = "aclk_axis" , "aclk_ctrl";
		router-present = <0>;
		xlnx,highaddr = <0xa00bffff>;
		xlnx,h-chroma-taps = <4>;
		xlnx,max-rows = <2160>;
		xlnx,h-scaler-phases = <64>;
		xlnx,max-data-width = <8>;
		hscale-connected = <&v_proc_ss_scaler_hsc>;
		xlnx,enable-dma;
		xlnx,write-fifo-depth = <128>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <64>;
		xlnx,samples-per-clk = <1>;
		xlnx,v-chroma-algorithm = <2>;
		csc-present = <0>;
		scaler_portsv_proc_ss_scaler: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			scaler_port1v_proc_ss_scaler: port@1 {
				xlnx,video-width = <8>;
				reg = <1>;
				xlnx,video-format = <3>;
				sca_outv_proc_ss_scaler: endpoint {
					remote-endpoint = <&v_frmbuf_wr_0v_proc_ss_scaler>;
				};
			};
			scaler_port0v_proc_ss_scaler: port@0 {
				xlnx,video-width = <8>;
				reg = <0>;
				xlnx,video-format = <3>;
				v_proc_ss_scalerv_proc_ss_csc: endpoint {
					remote-endpoint = <&csc_outv_proc_ss_csc>;
				};
			};
		};
	};
	mipi_csi2_rx_0_rx: mipi_csi2_rx_0_rx@0 {
		xlnx,ip-name = "mipi_csi2_rx_ctrl";
		reg = <0x0 0xa0000000 0x0 0x1000>;
		xlnx,ppi-sig-width = <0>;
		xlnx,cmn-inc-vfb;
		xlnx,axis-tuser-width = <96>;
		compatible = "xlnx,mipi-csi2-rx-ctrl-1.0";
		xlnx,cmn-num-pixels = <1>;
		xlnx,cmn-proj-family = <0>;
		xlnx,csi2rx-dbg = <0>;
		xlnx,csi-opt1-regs = <0>;
		xlnx,disable-lite = <0>;
		xlnx,ppi-sync-width = <0>;
		xlnx,csi-filter-userdatatype = <0>;
		xlnx,csi-offload-nonimage = <0>;
		xlnx,csi-vc-off-10 = <11>;
		xlnx,emb-dw = <64>;
		xlnx,csi-vc-off-11 = <12>;
		xlnx,csi-vc-off-12 = <13>;
		xlnx,csi-vc-off-13 = <14>;
		xlnx,csi-vc-off-14 = <15>;
		xlnx,ppi-mult = <0>;
		xlnx,name = "mipi_csi2_rx_0_rx";
		xlnx,csi-vc-off-0 = <1>;
		xlnx,csi-vc-off-1 = <2>;
		xlnx,csi-vc-off-2 = <3>;
		xlnx,csi-vc-off-3 = <4>;
		xlnx,csi-vc-off-4 = <5>;
		xlnx,csi-lanes = <2>;
		xlnx,csi-vc-off-5 = <6>;
		xlnx,is-hierarchy;
		xlnx,axis-fifo-depth = <4096>;
		xlnx,csi-vc-off-6 = <7>;
		clocks = <&misc_clk_1>, <&misc_clk_2>, <&misc_clk_2>, <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>;
		xlnx,axis-fifo-dcnt-width = <12>;
		xlnx,mipi-slv-int = <0>;
		xlnx,csi-vc-off-7 = <8>;
		xlnx,csi-vc-off-8 = <9>;
		xlnx,axis-tdest-width = <4>;
		xlnx,phy-mode = "DPHY";
		xlnx,csi-vc-off-9 = <10>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,cmn-pxl-format = "RAW10";
		xlnx,csi-opt2-crc = <1>;
		clock-names = "core_clk" , "dl0_rxbyteclkhs" , "dl1_rxbyteclkhs" , "m_axis_aclk" , "s_axi_aclk" , "video_aclk";
		xlnx,yuv420-buf-dpth = <128>;
		xlnx,hp-io-bank-selection = <66>;
		xlnx,csi-opt3-fixedlanes = <1>;
		xlnx,csi-en-vc-support = <1>;
		xlnx,hs-line-rate = <912>;
		xlnx,csi-fixed-vc = <0>;
		xlnx,csi-inv-shutdown = <1>;
		xlnx,axis-tdata-width = <64>;
		xlnx,header-data-width = <32>;
	};
	v_proc_ss_csc_csc: v_proc_ss_csc_csc@0 {
		compatible = "xlnx,v-csc-1.1";
		xlnx,v-csc-max-width = <4096>;
		xlnx,use-uram = <0>;
		xlnx,ip-name = "v_csc";
		xlnx,is-hierarchy;
		reg = <0x0 0xa0030000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <9>;
		xlnx,samples-per-clock = <1>;
		xlnx,enable-420 = <1>;
		xlnx,max-data-width = <8>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,enable-422 = <1>;
		xlnx,enable-window = <1>;
		xlnx,v-csc-max-height = <2160>;
		clock-names = "ap_clk";
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_proc_ss_csc_csc";
	};
	v_proc_ss_scaler_hsc: v_proc_ss_scaler_hsc@0 {
		/* Manually extended */
		status = "disabled";
		xlnx,scale-mode = <2>;
		compatible = "xlnx,v-hscaler-1.1";
		xlnx,phase-shift = <6>;
		xlnx,enable-csc = <0>;
		xlnx,max-rows = <2160>;
		xlnx,use-uram = <0>;
		xlnx,ip-name = "v_hscaler";
		xlnx,is-hierarchy;
		reg = <0x0 0xa0080000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <16>;
		xlnx,samples-per-clock = <1>;
		xlnx,max-data-width = <8>;
		xlnx,enable-420 = <1>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,enable-422 = <1>;
		xlnx,max-cols = <4096>;
		clock-names = "ap_clk";
		xlnx,num-video-components = <3>;
		xlnx,taps = <6>;
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_proc_ss_scaler_hsc";
	};
	v_proc_ss_scaler_reset_sel_axis: v_proc_ss_scaler_reset_sel_axis@10000 {
		/* Manually extended */
		status = "disabled";
		xlnx,gpio-board-interface = "Custom";
		compatible = "xlnx,axi-gpio-2.0" , "xlnx,xps-gpio-1.00.a";
		xlnx,all-outputs = <0>;
		#gpio-cells = <2>;
		xlnx,gpio-width = <2>;
		xlnx,dout-default = <0x0>;
		xlnx,is-dual = <0>;
		xlnx,ip-name = "axi_gpio";
		xlnx,is-hierarchy;
		xlnx,tri-default-2 = <0xffffffff>;
		reg = <0x0 0xa0090000 0x0 0x10000>;
		xlnx,all-inputs-2 = <0>;
		clocks = <&misc_clk_0>;
		xlnx,all-outputs-2 = <0>;
		gpio-controller;
		xlnx,interrupt-present = <0>;
		xlnx,gpio2-board-interface = "Custom";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,dout-default-2 = <0x0>;
		xlnx,gpio2-width = <32>;
		clock-names = "s_axi_aclk";
		xlnx,tri-default = <0xffffffff>;
		xlnx,name = "v_proc_ss_scaler_reset_sel_axis";
		xlnx,all-inputs = <0>;
	};
	v_proc_ss_scaler_vsc: v_proc_ss_scaler_vsc@20000 {
		/* Manually extended */
		status = "disabled";
		xlnx,scale-mode = <2>;
		compatible = "xlnx,v-vscaler-1.1";
		xlnx,phase-shift = <6>;
		xlnx,max-rows = <2160>;
		xlnx,use-uram = <0>;
		xlnx,ip-name = "v_vscaler";
		xlnx,is-hierarchy;
		reg = <0x0 0xa00a0000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <12>;
		xlnx,samples-per-clock = <1>;
		xlnx,enable-420 = <1>;
		xlnx,max-data-width = <8>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,max-cols = <4096>;
		clock-names = "ap_clk";
		xlnx,num-video-components = <3>;
		xlnx,taps = <6>;
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_proc_ss_scaler_vsc";
	};
	vcap_v_proc_ss_scaler {
		compatible = "xlnx,video";
		dmas = <&v_frmbuf_wr_0 0>;
		dma-names = "port0";
		vcap_portsv_proc_ss_scaler: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			vcap_portv_proc_ss_scaler: port@0 {
				direction = "input";
				reg = <0>;
				v_frmbuf_wr_0v_proc_ss_scaler: endpoint {
					remote-endpoint = <&sca_outv_proc_ss_scaler>;
				};
			};
		};
	};
};
